AngularProjects/
L6RouterModule/
L9Django/
L10/
Lab7/virEnv/Scripts/
Lab7/virEnv/Include/
Lab7/virEnv/Lib/
Lab7/virEnv/pyvenv.cfg
Lab4/
chekc
angularComponents
demo
introToAngular
L11/
Lab9/Lib/
Lab9/Scripts/
Lab9/pyvenv.cfg
Lab8/myvenv/Include
Lab8/myvenv/Lib
Lab8/myvenv/Scripts
Lab8/myvenv/pyvenv.cfg
